@font-face {
    font-family: 'Europa';
    src: url('Europa-Bold.woff2') format('woff2'),
        url('Europa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

