html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Europa";
  background: url(../images/background.png) no-repeat scroll center center / cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li a,
a {
  text-decoration: none;
}
/*======================  Start Page  ======================*/

.custom-dropdown {
  background-color: #000000;
  border: none;
  border-radius: 0;
  min-width: 200px;
  margin-top: 10px !important;
}

.custom-dropdown .dropdown-item {
  color: #ffffff !important;
  padding: 10px 20px;
  font-size: 16px;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #525252;
}

.custom-dropdown .dropdown-item.text-danger {
  color: #dc3545 !important;
}

.custom-dropdown .dropdown-item .fas {
  margin-left: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.custom-dropdown[data-bs-popper] {
  margin-top: 0;
}

.nav-link img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.content-title h4 {
  font-size: 30px;
  font-weight: 700;
  color: #575757;
  margin-bottom: 10px;
}

.content-title h2 {
  font-size: 82px;
  font-weight: 700;
  color: #000000;
}

.content-title p {
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}

.carousel-single h4 {
  font-size: 14px;
  font-weight: 700;
  color: #aeaeae;
  margin-bottom: 25px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 15px;
}

.carousel-single h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 1px;
  background-color: #575757;
  margin: 0 auto;
  right: 0;
}

.carousel-single p {
  font-size: 18px;
  font-weight: 400;
  color: #aeaeae;
}

.carousel-single h2 {
  font-size: 29px;
  font-weight: 700;
  color: #000000;
  margin: 15px 0;
}

.carousel-single h2 sup {
  font-size: 15px;
}

.btn-custom {
  display: inline-block;
  transition: 0.3s;
}

.btn-custom:hover {
  opacity: 0.83;
}

.btn-custom span {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;  
	top: 0;
	font-size: 12px;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
 
.second-section-carousel.owl-carousel .owl-item img {
	width: 190px !important;
	margin: 0 auto;
}

.carousel-bottom-text {
  margin: 20px 0 60px 0;
}

.footer-content ul li a {
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}

.footer-content ul li a:hover {
  opacity: 0.83;
}

.footer-content p {
  color: #fff;
  font-size: 12px;
}

.max-w-auto  {
  max-width: auto !important;
}

.custom-right-arrow {
  position: absolute;
  top: 50%;
  right: -60px;
}

.custom-left-arrow {
  position: absolute;
  top: 50%;
  left: -60px;
}

.modal-custom {
  max-width: 800px !important;
}

.modal-custom .modal-content {
  border-radius: 25px;
}

.modal-custom h5 {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

.modal-custom li {
  font-size: 14px;
  font-weight: 400;
  color: #8d8d8d;
  margin: 5px 0;
}

.modal-custom .modal-body .row .col-12,
.modal-custom .modal-body .row .col-6 {
  padding: 18px 26px !important;
}

.btn-close {
  position: absolute;
  top: -25px;
  right: 0;
}

.border-right-custom {
  border-right: 2px solid #afafaf;
}

/* bestall css  */

.menu-card {
  max-width: 800px;
  margin: 40px auto;
  overflow: hidden;
}

.menu-date {
  font-size: 14px;
  color: #777;
  font-weight: 500;
}

.menu-date span {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.menu-title {
  font-size: 42px;
  font-weight: bold;
  margin-top: 5px;
  line-height: 1.3;
  width: 100%;
  max-width: 400px;
}

.veggie-badge {
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: -10px;
}

.food-img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.nutrition-info h5 {
  font-weight: bold;
  font-size: 50px;
  position: relative;
}

.nutrition-info h5 img {
	position: absolute;
	top: 25px;
	right: 24px;
}

.nutrition-table {
  font-size: 18px;
}

.order-btn {
  background: #000;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
}

.bottom-section {
  position: relative;
  transform: translateY(-70px);
}

.bird {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 120px;
}

.bottom-section h2 {
  font-size: 42px;
  font-weight: 600;
  color: #000;
}

.bottom-text-2 {
  transform: translateX(150px);
}

.bottom-text-1 {
  transform: translateX(115px);
}

.menu-title sup {
  font-size: 16px;
}

.border-bottom-custom {
  padding-bottom: 15px;
  border-bottom: 2px solid #afafaf;
}

.table.nutrition-table span {
  display: block;
  font-size: 16px;
  color: #312e2e;
}

.table-title-text {
  font-size: 20px !important;
  color: #000 !important;
}

.right-table {
  transform: translateY(-103px);
}

.btn-custom-2 img {
  width: 100% !important;
}

 
.table-title-small {
  display: inline-block !important;
  font-size: 14px !important;
  padding-left: 5px;
}

.bird-1 {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.celender-download a  {
  font-size: 16px;
  font-weight: 600;
  color: #555555;
}

.montag-title-date h3 {
	font-size: 26px;
}

.single-bio p {
  position: relative;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 20px; 
}

.single-bio p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 120px;
  height: 1px;
  background-color: #d3d3d3;
}

.single-bio h4 {
  color: #f7f7f7;
  font-size: 18px;
}

.single-bio h2 {
	margin: 12px 0;
	font-size: 32px;
}

.single-bio a,
.single-bio button {
	border: none;
	background: transparent;
	position: absolute;
	right: 5px;
	bottom: 5px;
  z-index: 9999;
}

.single-bio {
	border-radius: 15px;
	border: 1px solid #eee;
}

.single-bio-after {
	background: #000000d9;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	backdrop-filter: blur(4px);
}

.cart-btn {
	left: 5px;
  color: #000;
	right: inherit !important;
}

.single-bio-after .celender-eye-img {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0; 
  margin: 0 auto;   
  width: 120px;
}

.celendar-down-button button {
  background: transparent;
  border: none;
}

.table.nutrition-table tr:last-child td {
	border: none;
}

.nutrition-table td,
.nutrition-table th {
  background: transparent ;
}

.modal-of-info {
	background: #00000075;
	border-radius: 10px;
	padding: 20px;
	backdrop-filter: blur(15px);
}


.modal-of-info .table.nutrition-table span {
  font-size: 12px; 
}

.modal-of-info .table-title-text {
	font-size: 14px !important; 
}

.modal-of-info .table.nutrition-table span,
.modal-of-info table th,
.modal-of-info table td,
.modal-of-info .border-bottom-custom ,
.modal-of-info .nutrition-info h5 { 
  color: #fff !important;
} 

.modal-of-info .nutrition-info h5 { 
	font-size: 42px; 
}

.food-img-item {
  max-width: 300px;
}

.info-btn {
	background: transparent;
	border: none;
}

.info-p {
  font-size: 12px;
}

.close-info-modal {
	background: transparent;
	top: 0;
	right: 5px;
	border: none;
	position: absolute;
	font-size: 20px;
	color: #ffffff82;
	z-index: 999;
}

.carousel-single {
	background: #fff;
	border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}



/*======================  End Page  ======================*/
